
.loginPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

/* Styling for the text above the inputs */
.Logtext {
  margin-bottom: 5px;
  font-weight: bold;
}

/* Styling for the input fields */
.inputBox {
  width: 250px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Styling for the email input */
.inputBox.email {
  /* Add specific styles for the email input if needed */
}

/* Styling for the password input */
.inputBox.password {
  /* Add specific styles for the password input if needed */
}

.logButton{
  border-radius: 9px;
  padding: 15px;
background-color: rgb(117, 117, 216);
  color: white;

  color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.logb{
  display: flex;
  flex-direction: row;  
  grid-gap: 20px;
  justify-content: space-around;

}


.Navbar{
  background-color: #000;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  color: white;
}

.logo{
  font-size: 60px;
  color: rgb(117, 117, 216);
  text-decoration: #ccc;
  font-family: Inter;
  margin: 10px;
}
.logo h1{
    border: 20px solid white;
    border: white;
}

.Navbar{
  display: flex;
  flex-direction: column;
}

.secondHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.listedNav{
  display: flex;
  justify-content: space-around;
}

.listedNav ul{
  list-style: none;
  padding: 0;
  display: flex;

}

.listedNav li {
    margin: 20px;
    color: #888;
}

.Appbody{
  display: flex;
  
}

